/*GENERAL*/
html {
  scroll-behavior: smooth;
}
body {
  color: #1e1e1e;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}
h2 {
  font-size: 50px;
}
h3{
  font-size: 25px;
}

p {
  margin: 10px;
}

img {
  object-fit: cover;
}

ul {
  padding-right: 15px;
}

a:hover {
  color: grey;
}
.text_bold {
  font-weight: bold;
}
.margin_basic {
  margin-top:20px;
  margin-right:20px;
  margin-bottom:20px;
  margin-left:20px;
}
.margin_bottom_none {
  margin-bottom: 0;
}
.margin_top_none {
  margin-top: 0;
}
.fish {
  color: #0d70b2;
}
.fish_neg {
  background-color: #0d70b2;
}
.meat {
  color:#b20604;
}
.meat_neg {
  background-color: #b20604;
}
input {
  display: none;
  }

  /* responsive structure */
  .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .nowrap {
    flex-wrap: nowrap;
  }
  .flex_column {
    flex-direction: column;
  }
  .flex_row {
    flex-direction: row;
  }
  .justify_center {
    justify-content: center;
  }
  .justify_around {
      justify-content: space-around;
  }
  .align_center {
    align-items: center;
  }
  .wrapper {
    margin: auto;
    height: inherit;
    max-width: 960px;
  }

/* mask */
.mask {
	margin: 0 auto;
	overflow: hidden;
	position:relative;
  background-color: #FFF;
}

.maskBottom {
    border-radius: 0 0 300% 300%;
    height: 96px;
    margin-bottom: -45px;
  }

.maskTop {
  border-radius: 300% 300% 0 0;
  height: 100%;
	width: 200%;
  left: -50%;
}

/* navigation bar */

#navigation_bar {
  font-size: 18px;
  background-color: #FFFFFF;
  z-index: 999;
  font-family: 'Anton', sans-serif;
}

nav a {
  border-top: 3px solid transparent;
  padding: 5px 10px;
  width: max-content;
  align-self: center;
}

nav a:hover, nav a:active {
  color: #b20604;
  border-top-color: #b20604;
}

#order_online{
    background-color: #b20604;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
}

#order_online:hover, #order_online:active {
  border: 2px solid #b20604;
  background-color: white;
  color: inherit;
}

@media (min-height: 300px) {
  #navigation_bar {
    position: sticky;
    top: 0;
  }
}

/* slider */

#slider {
  height: 600px;
  overflow: hidden;
}

/* Bullets indicators count */

#slider_count {
  z-index: 99;
  top: 600px;
  position: absolute;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgba(30,30,30, 0.7);
  border-radius: 50%;
  transition: all 0.6s ease;
}

.active, .dot:hover {
  background-color: #FFF;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0 8px;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  font-family: "Font Awesome 5 Free";
  -webkit-user-select: none;/* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  background-color: rgba(0,0,0,0.2);
  color: white;
  z-index: 2;
}
.prev::before {
  content: '\f104';
}
.next::before {
  content: '\f105';
}
.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Slideshow advertises */

.adv {
  background-color: rgba(250,250,250,0.7);
  border-radius: 60px;
  padding: 40px 80px;
  z-index: 1;
  text-align: center;
  display: inherit;
  position: absolute;
  top: 40%;
}

.adv h1, .adv p {
  margin-bottom: 10px;
}

.adv h1 {
  font-size: 48px;
}

.adv a {
  color: white;
  padding: 10px;
  border: 2px solid transparent;
  font-family: 'Anton', sans-serif;
  width: max-content;
  align-self: center;
  font-size: 20px;
}

.adv a:hover {
  color: inherit;
  background: transparent;
}

a.fish_neg:hover {
  border-color: #0d70b2;
}
a.meat_neg:hover {
  border-color: #b20604;
}

/* ANIMATION: Fading animation for slides*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* combos */

#combos {
  overflow: hidden;
}
.combos_title {
  background-color: #ffd339;
  padding: 35px 0;
}
.combos_title h2 span {
  font-size: 30px;
}
#combos .food_thumb {
  padding: 40px 50px;
  width: 325px;
}
#combos .food_thumb img {
  width: 100%;
  height: 200px;
}
#combos figcaption {
  color: white;
  padding: 20px 15px;
  margin-top: -5px;
  font-size: 14px;
}
#combos figure span {
  float: right;
}
#combos .price {
  font-size: 28px;
  font-weight: bold;
}

/* reviews */
#reviews {
  background-color: #1e1e1e;
  height: 450px;
  color: white;
  padding: 70px 40px;
}
#reviews h2 {
  font-family: 'Leckerli One', cursive;
  margin-bottom: 30px;
}

/* maps */

#map {
  overflow: hidden;
  margin-top: -45px;
}
.mapouter{
  text-align:center;
  height:100%;
  width:100%;
  margin-bottom: -4px;
}
.gmap_canvas {
  overflow:hidden;
  height:inherit;
  width:inherit;
}

/* time */

#time {
  background-color: #ffd339;
}

/* social */

#social {
  padding-top: 20px;
}

#social .social_btn {
  margin: 10px;
}

#social .fab {
  font-weight: 100;
width: 26px;
height: 26px;
text-align: center;
font-size: 24px;
color: white;
background-color: #1e1e1e;
padding: 5px;
border-radius: 50%;
}

#social .fab:hover, #social .fab:active {
  background-color: grey;
}

/* footer */

footer p {
  margin: 20px 0;
  text-align: center;
}


/* MOBILE */

#brand {
  display: inherit;
  flex-grow: 1;
  margin-bottom: -3px;
}
#navigation_bar, #logo img {
  height: 90px;
  transition: height 0.2s linear;
}
#nav1, #nav2 {
  overflow: hidden;
  max-height: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
}
#nav1 {
  transition: max-height 0.5s ease-in-out;
}
#nav2 {
  margin-top: -1px;
  transition: max-height 0.7s ease-in-out;
}
nav a {
  opacity: 0;
  transition: opacity 0.4s linear;
}

#navigation_bar .wrapper {
    justify-content: start;
}
#navigation_bar label {
  margin: 31px 40px;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  transition: margin 0.2s ease-in-out;
}
.changeMargin {
  margin: 20px 40px !important;
}
.shrink, .shrink_logo {
  height: 70px !important;
}
#navigation_bar input[type="checkbox"] + label::before {
content: "\f0c9";
}
#navigation_bar input[type="checkbox"]:checked + label::before {
content: "\f00d";
}
#navigation_bar input[type="checkbox"]:checked ~ #nav1, #navigation_bar input[type="checkbox"]:checked ~ #nav2 {
  max-height: 110px;
}
#navigation_bar input[type="checkbox"]:checked ~ #nav2{
  padding-bottom: 15px;
}
#navigation_bar input[type="checkbox"]:checked ~ nav a {
  opacity: 1;
}
/* slider */
#slider img {
  margin-left: -50%;
}
#slider_count {
  left:39%;
}
/* combos */
.dashed_border_bottom {
  border-bottom: 2px dashed black;
}
.dashed_border_right {
  border-right: 0;
}
/* reviews */
#reviews .quote {
  display: none;
}
/* time */
#time .wrapper {
  padding: 40px;
  justify-content: flex-start;
}

/* TABLETS, LAPTOPS */

@media screen and (min-width: 641px){
  #navigation_bar .wrapper {
    flex-wrap: nowrap;
  }
  #navigation_bar {
    height: 105px;
    -webkit-box-shadow: 5px 5px 39px -5px rgba(201,201,201,1);
    -moz-box-shadow: 5px 5px 39px -5px rgba(201,201,201,1);
    box-shadow: 5px 5px 39px -5px rgba(201,201,201,1);
  }
  #navigation_bar label {
    display: none;
  }
  #nav1, #nav2 {
    align-self: flex-end;
    max-height: 100px;
    flex-direction: row;
    padding-bottom: 10px;
  }
  #nav1 {
    order: 1;
  }
  #brand {
    order: 2;
    align-self: flex-start;
  }
  #nav2 {
    order: 3;
    margin-top: 0;
  }
  nav a {
    opacity: 1;
    margin-bottom: 0;
  }
  #logo img {
    height: 140px;
  }
  .shrink_logo {
    height: 110px !important;
  }
  /* slider */
  #slider_count {
    left: 46%;
  }
  #slider img {
    margin-left: 0;
  }
  /* combos */
  .dashed_border_right {
    border-right: 2px dashed black;
  }
  .third {
    border-bottom: 0;
  }
  /* reviews */
  #reviews .wrapper {
    flex-direction: column;
  }
  #reviews .quote {
    display: block;
    font-size: 60px;
    padding: 30px;
  }
  /* time */
  #time .wrapper {
    padding: 20px;
    justify-content: space-around;
  }
  /* footer */
  footer .wrapper {
    justify-content: space-between;
  }
}

@media screen and (min-width: 630px) and (max-width: 850px) {
  .dashed_border_right {
    border-right: none;
  }
  .dashed_border_bottom {
    border-bottom: 2px dashed black;
  }
}
