/*GENERAL*/
body {
  color: #1e1e1e;
}
/* RESPONSIVE STRUCTURE */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  height: inherit;
  flex-direction: row;
  max-width: 960px;
}
input {
  display: none;
  }

/* navigation bar */

#navigation_bar {
  font-size: 18px;
  background-color: #FFFFFF;
}
@media (min-height: 300px) {
  #navigation_bar {
    position: sticky;
    top: 0;
  }
}

/* slider */
#slider {
  height: 800px;
  background-color: tomato;
}

/* combos */
#combos {
  height: 800px;
  background-color: yellow;
}

/* MOBILE */

#navigation_bar label {
  margin: 50px;
  position: absolute;
}
#brand {
  align-self: center;
  justify-content: center;
  display: inherit;
  flex-grow: 1;
}
#nav1, #nav2 {
  overflow: hidden;
  max-height: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  display: inherit;
}
#nav1 {
  transition: max-height 0.5s ease-in-out;
}
#nav2 {
  transition: max-height 0.7s ease-in-out;
}
nav a {
  opacity: 0;
  transition: opacity 0.4s linear;
}
#navigation_bar input[type="checkbox"]:checked ~ #nav1, #navigation_bar input[type="checkbox"]:checked ~ #nav2 {
  max-height: 100px;
}
#navigation_bar input[type="checkbox"]:checked ~ nav a {
  opacity: 1;
}

/* TABLETS, LAPTOPS */

@media screen and (min-width: 641px){
  .wrapper {
    flex-wrap: nowrap;
  }
  #navigation_bar {
    height: 80px;
  }
  #navigation_bar label {
    display: none;
  }
  #nav1, #nav2 {
    display: inline-block;
    align-self: center;
    max-height: 100px;
  }
  #nav1 {
    order: 1;
  }
  #brand {
    order: 2;
    margin-top: 45px;
  }
  #nav2 {
    order: 3;
  }
  nav a {
    opacity: 1;
  }
}
