/*GENERAL*/
html {
  scroll-behavior: smooth;
}
body {
  color: #1e1e1e;
}

/* responsive structure */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  height: inherit;
  flex-direction: row;
  max-width: 960px;
}
input {
  display: none;
  }

/* mask */
.mask {
	left: -50%;
	margin: 0 auto;
	overflow: hidden;
	position:relative;
	width: 200%;
  background-color: #FFF;
  height: 100%;
}

.maskBottom {
  	border-radius: 0 0 300% 300%;
  }

.maskTop {
  border-radius: 300% 300% 0 0;
}

/* navigation bar */

#navigation_bar {
  font-size: 18px;
  background-color: #FFFFFF;
  z-index: 999;
}
#navigation_bar, #logo img {
  /*max-height: 200px;*/
  transition: max-height 0.3s ease-in-out;
}
.shrink {
  max-height: 60px;
}

@media (min-height: 300px) {
  #navigation_bar {
    position: sticky;
    top: 0;
  }
}

/* slider */

#slider {
  /* height: 600px; */
  overflow: hidden;
}

.slide2 {
  background-color: tomato;
  width: inherit;
  height: 350px;
}

#slider .wrapper {
  justify-content: center;
}

#slider img {
  object-fit:cover;
}

/* Bullets indicators count */

{
  position: absolute;
  z-index: 17;
  left: 47.5%;
  top: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #717171;
  border-radius: 50%;
  transition: all 0.6s ease;
  /* position: absolute;
  z-index: 1;
  bottom: -30px; */
}

.active, .dot:hover {
  background-color: #bbb;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0 8px;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  font-family: "Font Awesome 5 Free";
  -webkit-user-select: none;/* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  background-color: rgba(0,0,0,0.2);
  color: white;
}
.prev::before {
  content: '\f104';
}
.next::before {
  content: '\f105';
}
.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Slideshow advertises */

.fakeAbs {
  margin-top: -418px;
  margin-bottom: 300px;
}

.adv {
  background-color: rgba(250,250,250,0.5);
    border-radius: 30px;
    padding: 30px 60px;
    z-index: 1;
    /* position: absolute;
    top: 50% */
}

/* ANIMATION: Fade in right for 1st slide */

.animated {
     -webkit-animation-duration: 3s;
     animation-duration: 3s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  0% {
     opacity: 0;
     -webkit-transform: translateX(20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
     opacity: 0;
     -webkit-transform: translateX(20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

.fadeInRight {
   -webkit-animation-name: fadeInRight;
   animation-name: fadeInRight;
}

/* ANIMATION: Fading animation for 2nd and 3rd slide*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* combos */
#combos {
  height: 800px;
  overflow: hidden;
}

/* reviews */
#reviews {
  background-color: #1e1e1e;
  height: 400px;
  margin-top: -55px;
}

/* maps */

#map {
  overflow: hidden;
  margin-top: -55px;
}
.mapouter{
  text-align:center;
  height:100%;
  width:100%;
}
.gmap_canvas {
  overflow:hidden;
  height:inherit;
  width:inherit;
}

/* MOBILE */

#brand {
  align-self: center;
  justify-content: center;
  display: inherit;
  flex-grow: 1;
}
#nav1, #nav2 {
  overflow: hidden;
  max-height: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  display: inherit;
  background-color: #FFFFFF;
}
#nav1 {
  transition: max-height 0.5s ease-in-out;
}
#nav2 {
  transition: max-height 0.7s ease-in-out;
}
nav a {
  opacity: 0;
  transition: opacity 0.4s linear;
}
#navigation_bar label {
  margin: 40px 40px;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  transition: margin 0.2s ease-in-out;
}
.changeMargin {
  margin:15px 40px;
}
#navigation_bar input[type="checkbox"] + label::before {
content: "\f0c9";
}
#navigation_bar input[type="checkbox"]:checked + label::before {
content: "\f00d";
}
#navigation_bar input[type="checkbox"]:checked ~ #nav1, #navigation_bar input[type="checkbox"]:checked ~ #nav2 {
  max-height: 100px;
}
#navigation_bar input[type="checkbox"]:checked ~ nav a {
  opacity: 1;
}

/* TABLETS, LAPTOPS */

@media screen and (min-width: 641px){
  .wrapper {
    flex-wrap: nowrap;
  }
  #navigation_bar {
    height: 80px;
  }
  #navigation_bar label {
    display: none;
  }
  #nav1, #nav2 {
    display: inline-block;
    align-self: center;
    max-height: 100px;
  }
  #nav1 {
    order: 1;
  }
  #brand {
    order: 2;
    margin-top: 45px;
  }
  #nav2 {
    order: 3;
  }
  nav a {
    opacity: 1;
  }
}
